* {
    box-sizing: border-box;
}

.tudo {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.paises {
    display: flex;
    margin-bottom: 10px;
    margin-top: 30px;
}

.submain {
    flex: 1;
    margin-top: 30px;
}

.foto {
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

@media (max-width: 1042px) {
    .tudo {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .tudo {
        display: flex;
        flex-direction: row;
    }

    .paises {
        display: flex;
        flex-direction: column;
    }

    .foto {
        margin-left: 0;
        margin-top: 300px;
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 480px) {
    .tudo {
        display: flex;
        flex-direction: column;
    }

    .foto {
        margin-top: 30px;
        width: 300px;
        height: 300px;
    }
}